name: Cleanup FTP on Branch Delete

on:
  delete:

jobs:
  cleanup:
    if: |
      github.event.ref_type == 'branch' && 
      github.event.ref != 'main' && 
      github.event.ref != 'master'
    
    runs-on: ubuntu-latest
    steps:
      - name: Delete Folder via LFTP
        run: |
          sudo apt-get update && sudo apt-get install -y lftp
          
          FTP_HOST="${{ secrets.FTP_SERVER }}"
          FTP_USER="${{ secrets.FTP_USERNAME }}"
          FTP_PASS="${{ secrets.FTP_PASSWORD }}"
          REMOTE_DIR="/${{ github.event.ref }}"
          

          lftp -u "$FTP_USER","$FTP_PASS" "$FTP_HOST" <<EOF
          set ftp:ssl-allow no
          set ftp:passive-mode true
          rm -rf "$REMOTE_DIR"
          quit
          EOF